pong-KSI-SAE-
импортируем библиотеку tkinter для разработки графического интерфейса
from tkinter import *
импортируем библиотеку random Библиотека random для генерации псевдо-случайных чисел
import random